@model IEnumerable<QLChatThai.Models.QLCTModel.CTNHap>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sophieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dvt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.slthuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.slbaocao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dongianhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DM_CT.Ten_CT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sophieu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dvt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.slthuc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.slbaocao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dongianhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DM_CT.Ten_CT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
